/* body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #04aa6d;
    padding: 15px;
  }
  
  .logo img {
    width: 200px;
  }
  
  .navbar > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navbar > ul > li {
    margin: 0 1rem;
  }
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
  }
  .active {
    background-color: #04aa6d;
  } */


  @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color:  #04aa6d;
  
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6); 
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
.about-page {
  display: grid;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.biography {
  max-width: 800px;
   margin:0  280px ;
  text-align: left;
}
.logo {
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  margin: 15px 15px;
}
.logo:hover {
  box-shadow: 1px 1px 1px 1px rgb(163, 65, 65);
  transform: scale(1.5);
  cursor: pointer;
}
.portrait {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.portrait:hover {
  box-shadow: 1px 1px 2px 2px rgb(163, 65, 65);
  cursor: pointer;
}
.about-paragraph {
  font-size: 15px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

ul li{
  margin: 0 auto;
  text-align: left;
  max-width: 800px;
  list-style-type:none;
}
.bio-paragraph {
  /* border: 1px solid black; */
  max-width: 800px;
  font-size: 15px;
  margin: 20px auto;
  text-align: left;
  padding: 15px;
  object-fit: contain;
}


  /* .cart{
    display:flex;
  }
  
   .searchBar{
      margin:40px auto;
      text-align: center;
  }
  .container{
    margin:40px auto;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:20px;
    height:100vh;
    width:100vw;
    flex-wrap:wrap;
    flex-direction:row;
  }
  .total{
      margin:0px auto;
      text-align:center;
  }
  .product-card{
    width:200px;
    height:200px;
    border:2px solid #ccc;
    padding:20px 0;
  }
  .is-hidden { display: none; }
   */
